#quienes-somos {
    padding: 50px 20px;
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Títulos */
#quienes-somos h2 {
    font-size: 2rem;
    color: #004aad;
    margin-bottom: 20px;
    font-family: 'Zing Rust Base', sans-serif;
}

/* Contenido del texto */
#quienes-somos p {
    font-size: 1rem;
    color: #444;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Misión y Visión */
.mision-vision {
    margin-top: 30px;
}

.mision-vision h3 {
    font-size: 1.8rem;
    color: #004aad;
    margin-top: 30px;
    font-family: 'Zing Rust Base', sans-serif;
}

.mision-vision p {
    font-size: 1rem;
    color: #555;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}