@import url('header.css');
@import url('inicio.css');
@import url('quienes_somos.css');
@import url('nuestros_productos.css');
@import url('colocacion_y_cuidados.css');
@import url('contacto.css');
@import url('footer.css');
@font-face {
    font-family: 'Zing Rust Base';
    src: url('../fonts/zing-rust-base.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}